* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
    /* debug */
}

html,
body {
    background-color: grey;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.full-screen {
    width: 100%;
    height: 100%;
}